<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item fill="solid">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="form.dirty">Invalid email</ion-note>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="form.dirty">Invalid password</ion-note>
    </ion-item>
    <ion-button (click)="login()">Login</ion-button>
  </form>
</ion-content>
